{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
      {% if allstreams|length > 0 %}
        <div class="row">
          {% for s in allstreams %}
          <div class="col-sm-4">
            <h3>
              <a href="/view?stream_id={{ s.id }}"/>{{ s.name }}</a>
            </h3>
            <br>
            {% if s.cover %}
              <a href="/view?stream_id={{ s.id }}">
                <img src="/img?photo_id={{ s.cover }}" height="200" width="200"/>
              </a>
            {% else %}
              <a href="/view?stream_id={{ s.id }}">
                <img src="http://www.camping-oaza.com/images/joomlart/demo/default.jpg" height="200" width="200"/><br>
                <!--No image in this stream yet-->
              </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      {% else %}
        Oops, look like we don't have any streams
      {% endif %}
    </div>
{% endblock %}
