{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
      {% if allphotos|length > 0 %}
      <div class="row">
        {% for p in allphotos %}
          <div class="col-sm-3">
            <img src="/img?photo_id={{ p }}", height="200", width="200"/>
          </div>
        {% endfor %}
        <div class="col-sm-3">
        {% if multipage==True %}
        <form action="/view?stream_id={{stream_id}}, st={{ st }}", method="get">
          <input type="hidden" name="stream_id" value={{ stream_id }} />
          {% if st==-1 %}
            This is the last page in the stream.
            <input type="hidden" name="st" value="1" />
            <input id="lrgTxt" type="submit", value="Take me back to first page"/>
          {% else %}
            <input type="hidden" name="st" value={{ st }} />
            <input id="lrgTxt", type="submit", value="More Pictures"/>
          {% endif %}
        </form>
        {% else %}
        This is the only page in the stream.
        {% endif %}
          <br>
          <br>
          <a class="white" href="/map?stream_id={{ stream_id }}"/>
            <input id="GEOVIEW", type="submit", value="Geo View"/>
          </a>
        </div>
      </div>
      {% else %}
      No photo in this stream yet!
      {% endif %}
    </div>

<br>
    <div class="container-fluid">
<!--      <form action="/api/upload", enctype="multipart/form-data", method="post">
        <input type="hidden" name="stream_id" value={{ stream_id }} />
        {% if disableModify %}
        <input type="submit" value="Upload File (only for owner)" disabled/>
        {% else %}
        <input type="file" name="img"/>
        <input type="text", name="comment">Comment</input><br>
        <input type="submit" value="Upload File"></input>
        {% endif %}
      </form>
-->
      <form id="fileupload" action="/api/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="stream_id" value={{ stream_id }} />
            <input type="textbox" name="description" placeholder="Exercise Description" style="width: 400px; height: 250px"/>
            Exercise Step: <input type="textbox" name="step" placeholder="Step 1"/>
              <!-- Redirect browsers with JavaScript disabled to the origin page -->
              <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
              <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
              <div class="row fileupload-buttonbar">
                  <div class="col-lg-7">
                      <!-- The fileinput-button span is used to style the file input field as button -->
                      {% if disableModify %}
                        <span class="btn btn-success fileinput-button" disabled>
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input type="file" name="files[]" multiple disabled>
                        </span>
                        <button type="submit" class="btn btn-primary start" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                      {% else %}
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input type="file" name="files[]" multiple>
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                      {% endif %}
                      <button type="reset" class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel upload</span>
                      </button>
                      <!--<button type="button" class="btn btn-danger delete">
                          <i class="glyphicon glyphicon-trash"></i>
                          <span>Delete</span>
                      </button>
                      <input type="checkbox" class="toggle"> -->
                      <!-- The global file processing state -->
                      <span class="fileupload-process"></span>
                  </div>
                  <!-- The global progress state -->
                  <div class="col-lg-5 fileupload-progress fade">
                      <!-- The global progress bar -->
                      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                      </div>
                      <!-- The extended global progress state -->
                      <div class="progress-extended">&nbsp;</div>
                  </div>
              </div>
              <!-- The table listing the files available for upload/download -->
              <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
      </form>

      <!-- Subscribe to Stream-->
      <form action="/api/subscribe" method="post">
        <input type="hidden" name="stream_id" value={{ stream_id }} />
        <input type="hidden" name="user_id" value={{ user_id }} />
        {% if disableModify %}
          {% if subscribed==True %}
            <input class="btn btn-primary", type="submit", value="Subscribe" disabled>(You had subscribed to this stream)</input>
          {% else %}
            <input class="btn btn-primary", type="submit", value="Subscribe"/>
          {% endif %}
        {% else %}
        <input class="btn btn-primary", type="submit" value="Subscribe" disabled>
          <h5>(Cannot subscribe to your own stream)</h5>
        </input>
        {% endif %}
      </form>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
<!--upload -->
    <script id="template-upload" type="text/x-tmpl">
    {% raw %}
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    {% endraw %}
    </script>

    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    {% raw %}
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <!--<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                        </button>
                        <input type="checkbox" name="delete" value="1" class="toggle">
                    -->
                    <a>Successfully Submitted Photo!</a>
                {% } else { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    {% endraw %}
    </script>
    <!---->
{% endblock %}
{% block scripts %}
<!-- The main application script -->
<script src="../assets/js/main.js"></script>
{% endblock %}
