{% extends "base.html" %}
{% block body %}
  <div class="container-fluid">
    <div class="row">
      {% for key, value in category.items() %}
        <h3> {{date[key]}}:  {{value}} </h3>
          {% for ex in exercises[key] %}
          <div class="row">
            <div class="col-md-3">
              <h3>{{ex}}</h3>
            </div>
            <div class="col-md-3">
              <h3>{{reps[key]}}</h3>
            </div>
          </div>
          {% endfor %}
        <br>
      {% endfor %}
    </div>
  </div>

{% endblock %}
